cfgv==3.5.0
colorama==0.4.6
coverage==7.13.5
distlib==0.4.0
filelock==3.25.2
identify==2.6.18
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.0
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
Pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
python-discovery==1.2.0
PyYAML==6.0.3
virtualenv==21.2.0
